<h1 class="main-header">Table Sorting Component</h1>
<div class="table-header">
    <tr *ngFor="let header of columnHeaders ">
            <td >{{ header }}</td>
    </tr>
</div>

<table class="table-row">
    <tr *ngFor="let data of userData; let i = index; odd as isOdd; even as isEven" [ngClass]="{odd: isOdd, even: isEven}"  >
        <td>
            <input type="checkbox" [(ngModel)]="data.checked" *ngIf="isCheckable" />
        </td>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.last}}</td>
        <td>{{data.age}}</td>
        <td>{{data.full}}</td>
    </tr>
</table>

<div class="paginated-buttons" *ngIf="isPaginated" >
    <button class="selection-button" [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1" >Previous</button>
    <span class="page-numbers">Page {{currentPage}} of {{ numberOfPages() }}</span>
    <button class="selection-button" [disabled]="currentPage >= userData.length/pageSize" (click)="currentPage = currentPage + 1" >Next</button>
</div>

<pre class="raw-data" *ngIf="this.result?.length">{{this.result | json}}</pre>




